/* Will target body tag of portfolio.html file */
body {
  background-color: lightgray;
}

/* Will target html element using tag name */
h1 {
  color: black;
  text-align: center;
}

/* Will target html element using class attribute */
.nav-link {
  font-weight: bold;
}

/* Will target html element using id attribut */
#study-table{
  background-color: white;
}